<div class="composer">
    <h1>F# Nokia Phone music generator</h1>
    <form method="post" action="/home/generate">
        <textarea placeholder="Enter ringtone code here" name="score"></textarea>
        <button type="submit">Generate!</button>
    </form>
</div>
