body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.composer {
    width: 60%;
    margin: auto;
    text-align: center;
}

.composer .columns {
    display: flex;
}

.composer h1 {
    text-align: center;
}

.composer textarea {
    width: 70%;
    height: 200px;
    border: 1px solid gray;
    margin: 30px 0;
}

.composer .menu {
    flex: 1;
    text-align: left;
    margin: 30px 0;
    padding: 0 30px;
}

.composer .menu p:first-child {
    margin-top: 0;
}

.composer .menu ul {
    list-style: none;
    list-style-type: none;
}

.composer button {
    margin: 10px;
}